@tailwind base;
@tailwind components;
@tailwind utilities;

.borderBlack {
  @apply border border-black/10;
}

.btnAnimation {
  @apply focus:scale-110 hover:scale-110 active:scale-105 transition;
}

.btnLightStyle {
  @apply bg-white text-gray-900 py-3 font-bold flex items-center gap-2 rounded-full outline-none;
}

.btnDarkStyle {
  @apply bg-gray-900 text-white px-7 py-3 flex items-center gap-2 rounded-full outline-none hover:bg-gray-950;
}

.iconContacts {
  @apply px-4 text-[1.35rem] dark:bg-white/10 dark:text-white/90
}

.linkTip {
  @apply flex relative flex-col items-center justify-center;
}

.tipStyle {
  @apply ease-[cubic-bezier(0.68,-0.55,0.265,1.55)] group-hover:-top-[70px] absolute top-0 opacity-0 pointer-events-none group-hover:opacity-100 transition-all group-hover:pointer-events-auto bg-gray-700 text-white text-sm py-3 px-6 w-[220px] rounded-full;
}

.tipStyle::before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%) rotate(45deg);
  background-color: inherit;
}

.inputStyle {
  @apply h-12 rounded-lg p-2;
}

.inputStyleDark {
  @apply dark:bg-white/10 dark:text-white dark:placeholder:text-white/80;
}

.projectLink {
  @apply flex gap-2 p-3 items-center justify-center dark:text-white/70 bg-black/[0.7] text-[1rem] uppercase text-white rounded-lg hover:bg-gray-950 hover:scale-110;
}